.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.btn {
	margin-left: 5px;
}

.featurette-divider {
	margin-left: 50px;
	margin-right: 50px;
}

.img2 {
	width: 25em;
	margin-left: 50px;
}

.info-text {
	margin-left: 30em;
	text-align: left;
	margin-right: 50px;
}

.services {
	margin-left: 50px;
	margin-right: 50px;
}

.teams {
	margin-left: 50px;
	margin-right: 50px;
	display: flex;
}

.emp-img {
	width: 150px;
	height: 150px;

}

.contact {
	margin-left: 50px;
	margin-right: 50px;
}

.footer {
	background-color: black;
	color: antiquewhite;
	padding-bottom: 0.5em;
}

.box {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.inner1 {
	width: 50%;
}

.inner2 {
	width: 50%;
}

.address {
	margin: 0 5em;
}

.navbar {
	color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6,
.para-end,
.col-12 {
	text-align: center;
}

.card-img {
	width: 5px;

}

.card {
	margin-left: 50px;
	margin-right: 50px;
}

.nav-prop {
	background-color: antiquewhite;
}

.img-box {
	display: flex;
	justify-content: center;
}

.row {
	justify-content: center;
}

.navbar {
	border-bottom: #282c34 1px solid;
}